@import "../../styles/vars.css";

:root {
  --button-padding: 12px 24px;
  --button-border-radius: 6px;
  --button-hover-opacity: .88;

  --button-primary-box-shadow: var(--color-black) 0 2px 4px 0; 
}

.button {
  display: inline-block;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-m);
}
  .button:hover {
    opacity: var(--button-hover-opacity);
    cursor: pointer;
  }

.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--button-primary-box-shadow);
}

.secondary {
  background-color: var(--color-white);
  color: var(--color-secondary);
}
