@import "../../styles/vars.css";

:root {
  --title-border-bottom: 1px solid var(--color-secondary-1-grey);

  --form-margin: 32px 0;
  --form-label-margin-bottom: 16px;
  --form-input-border-radius: 4px;
  --form-input-padding: 8px;
  --form-input-border: 1px solid var(--color-secondary-1-grey)
}

.title {
  color: var(--color-complementary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-l);
  font-weight: normal;
  border-bottom: var(--title-border-bottom);
}

.form {
  margin: var(--form-margin);
}
  .form label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--form-label-margin-bottom);
  }
    .form label span {
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-s);
    }
    .form label input,
    .form label textarea {
      padding: var(--form-input-padding);
      border: var(--form-input-border);
      border-radius: var(--form-input-border-radius);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-m);
    }
    .form label textarea {
      resize: none;
    }
