@import "../../styles/vars.css";

:root {
  --title-border-bottom: 1px solid var(--color-secondary-1-grey);
  --title-icon-height: 24px;
  --title-icon-width: 24px;
  --title-icon-hover-opacity: .62;

  --form-margin: 32px 0;
  --form-label-margin-bottom: 16px;
  --form-input-border-radius: 4px;
  --form-input-padding: 8px;
  --form-input-border: 1px solid var(--color-secondary-1-grey);
}

.title {
  color: var(--color-complementary);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-l);
  font-weight: normal;
  border-bottom: var(--title-border-bottom);
  display: flex;
  justify-content: space-between;
}
  .title a {
    color: var(--color-complementary);
    text-decoration: none;
  }
    .title a:hover {
      opacity: var(--title-icon-hover-opacity);
      cursor: pointer;
    }
    .title a span {
      color: var(--color-secondary-1-grey);
    }
  .title .icon {
    height: var(--title-icon-height);
    width: var(--title-icon-width);
  }
    .title .icon:hover {
      opacity: var(--title-icon-hover-opacity);
      cursor: pointer;
    }

.form {
  margin: var(--form-margin);
}
  .form label {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--form-label-margin-bottom);
  }
    .form label span {
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-s);
    }
    .form label input,
    .form label textarea,
    .form label select {
      padding: var(--form-input-padding);
      border: var(--form-input-border);
      border-radius: var(--form-input-border-radius);
      font-family: var(--font-family-secondary);
      font-size: var(--font-size-m);
    }
    .form label select {
      appearance: none;
      -moz-appearance: none;
    }
    .form label textarea {
      resize: none;
    }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
