/* From https://codepen.io/cameroncer/pen/vKgaB by Cameron Robertson */
@import "../../styles/vars.css";

.spinner div {
  width: 100px;
  height: 30px;
  background: var(--color-black);
  position: absolute;
  top: 35px;
  left: 45px;
  opacity: 0.05;
  animation: fadeit 1.1s linear infinite;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

  .spinner div:nth-child(1) {
    transform: rotate(0deg) translate(0, -30px);
    animation-delay: 0.39s;
  }

  .spinner div:nth-child(2) {
    transform: rotate(45deg) translate(0, -30px);
    animation-delay: 0.52s;
  }

  .spinner div:nth-child(3) {
    transform: rotate(90deg) translate(0, -30px);
    animation-delay: 0.65s;
  }

  .spinner div:nth-child(4) {
    transform: rotate(135deg) translate(0, -30px);
    animation-delay: 0.78s;
  }

  .spinner div:nth-child(5) {
    transform: rotate(180deg) translate(0, -30px);
    animation-delay: 0.91s;
  }

  .spinner div:nth-child(6) {
    transform: rotate(225deg) translate(0, -30px);
    animation-delay: 1.04s;
  }

  .spinner div:nth-child(7) {
    transform: rotate(270deg) translate(0, -30px);
    animation-delay: 1.17s;
  }

  .spinner div:nth-child(8) {
    transform: rotate(315deg) translate(0, -30px);
    animation-delay: 1.3s;
  }

@keyframes fadeit {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
