@import "../../styles/vars.css";

:root {
  --overlay-opacity: .62;

  --content-width: 50vw;
  --content-padding: 32px;
  --content-out-left: 100vw;
  --content-transform-duration: .5s;
  --content-transform-timig-function: cubic-bezier(0, 1, 0.5, 1);
}

@media(max-width: 888px) {
  :root {
    --content-width: 55vw;
  }
}

@media(max-width: 777px) {
  :root {
    --content-width: 60vw;
  }
}

@media(max-width: 666px) {
  :root {
    --content-width: 65vw;
  }
}

@media(max-width: 555px) {
  :root {
    --content-width: 70vw;
  }
}

@media(max-width: 500px) {
  :root {
    --content-width: 80vw;
  }
}

@media(max-width: 400px) {
  :root {
    --content-width: 90vw;
  }
}

.overlay {
  background-color: var(--color-complementary-darker);
  opacity: var(--overlay-opacity);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
  .hidden {
    display: none;
  }

.content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(var(--overlay-min-height) - 2 * var(--content-padding));
  width: calc(var(--content-width) - 2 * var(--content-padding));
  background-color: var(--color-white);
  padding: var(--content-padding);
  overflow: scroll;

  transition-property: left;
	transition-duration: var(--content-transform-duration);
	transition-timing-function: var(--content-transform-timig-function);
}
  .out {
    left: var(--content-out-left);
  }
  .in {
    left: calc(var(--content-out-left) - var(--content-width));
  }
