@import "../../styles/vars.css";

:root {
  --overlay-min-height: 100vh;
  --overlay-width: 100vw;
  --overlay-opacity: .62;

  --content-width: 50vw;
  --content-padding: 32px;
  --content-out-left: 100vw;
  --content-transform-duration: .5s;
  --content-transform-timig-function: cubic-bezier(0, 1, 0.5, 1);
}

.overlay {
  min-height: var(--overlay-min-height);
  width: var(--overlay-width);
  background-color: var(--color-complementary-darker);
  opacity: var(--overlay-opacity);
  position: absolute;
  top: 0;
}
  .hidden {
    display: none;
  }

.content {
  position: absolute;
  top: 0;
  min-height: calc(var(--overlay-min-height) - 2 * var(--content-padding));
  width: calc(var(--content-width) - 2 * var(--content-padding));
  background-color: var(--color-white);
  padding: var(--content-padding);

  transition-property: left;
	transition-duration: var(--content-transform-duration);
	transition-timing-function: var(--content-transform-timig-function);
}
  .out {
    left: var(--content-out-left);
  }
  .in {
    left: calc(var(--content-out-left) - var(--content-width));
  }
